{
  "presets": [
    ["env", {
      "modules": "commonjs"
    }],
    "stage-2",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "lodash",
    ["module-resolver", {
      "alias": {
        "@": "./"
      }
    }]
  ],
	"env": {
		"production": {
			"presets": ["react-optimize"]
		}
	}
}
